<%- include("../partials/header.ejs") %>


    <div class="section">
      <div class="container no-bottom-padding">
        <div class="text-box centre">
          <div class="top">
            <div class="divider-line primary-colour"></div>
            <div class="post-top-details-wrapper">
              <a
                href="/category/<%= post.category %>>"
                class="post-detail-tag w-inline-block"
                ><div><%= post.category %></div></a
              >
              <div class="post-detail-tag"><%= post.date %></div>
            </div>
          </div>
          <div class="spacer _48"></div>
          <h1 class="heading extra-large">
            <%= post.title %>
          </h1>
          <div class="spacer _24"></div>
          <p class="paragraph">
            <%= post.description %>
          </p>
          <div class="spacer _64"></div>
        </div>
        <div class="header-image-wrapper">
          <img
            src="<%= post.imgSrc %>"
            loading="lazy"
            alt=""
            sizes="(max-width: 767px) 83vw, (max-width: 991px) 87vw, 98vw"
            class="post-item-image"
          />
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="text-box centre">
          <div class="rich-text w-richtext">
            <p>
                <%- post.content %>
            </p>

            <a href="<%= post.link %>/edit" class="edit-button">Edit Post</a><br>
          </div>
        </div>
      </div>
    </div>
    <div class="section background-primary">
      <div class="container">
        <div class="email-subscribe-wrapper">
          <div class="text-box _600px">
            <h2 class="heading large text-color-background-1">
              Get the best sent to your inbox, every month
            </h2>
          </div>
          <div class="form-block w-form">
            <form
              method="get"
              name="email-form"
              data-name="Email Form"
              id="email-form"
              class="email-form-wrapper"
              data-wf-page-id="637b4af631bc12da2ad63773"
              data-wf-element-id="a6021739-06e5-b358-1ee7-0a9f3cb3a2f0"
            >
              <input
                class="text-field no-border w-input"
                maxlength="256"
                name="Email"
                data-name="Email"
                placeholder="Enter your email"
                type="email"
                id="Email"
                required=""
              /><input
                type="submit"
                data-wait="Submitting..."
                class="button-secondary w-button"
                value="Subscribe"
              />
            </form>
            <div class="form-success w-form-done">
              <div>Thanks a lot for subscribing!</div>
            </div>
            <div class="form-error w-form-fail">
              <div>Something went wrong! Please try again</div>
            </div>
            <div class="spacer _16"></div>
            <div class="paragraph small text-color-background-2">
              Once monthly, no spam
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <%- include("../partials/footer.ejs") %>